html {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}

body {
   margin: 0;   
   font-family: 'Oswald', sans-serif;
   font-weight: 400;
}

.contener {
   min-width: 11000px;
   background: #ddd;
   margin: 0 auto;
}
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
 */

 .header {
}

.header__title {
}
.logo {
}
.burger {
}
.burger__line {
}
.h1 {
}
.h4 {
}
